<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.MessagesFilePath" value=""/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.DiagnosticsLevel" value="TRACE"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.DiagnosticsOutput" value="DEBUG"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.LogAgeDays" value="30"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.CompressAllJS" value="true"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.CompressAllCSS" value="true"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.AllowGzipCompression" value="true"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.UseServerNameInLogging" value="false"/>
  </appSettings>
</configuration>